body { font-size: 1rem; }
h1 { font-size: 1.75rem; }
h2 { font-size: 1.375rem; }
h3 { font-size: 1.125rem; }
h4 { font-size: 1rem; }
button {
    font-size: 0.875rem;
    font-weight: 600;
}

.secondary-text { font-size: 0.875rem; }

/* Tablets */
@media (min-width: 641px) {
    body { font-size: 1.0625rem; }
    h1 { font-size: 2.25rem; }
    h2 { font-size: 1.75rem; }
    h3 { font-size: 1.375rem; }
    h4 { font-size: 1.125rem; }
    button { font-size: 0.9375rem; }
    .secondary-text { font-size: 0.9375rem; }
}

/* Desktops and laptops */
@media (min-width: 1025px) {
    body { font-size: 1.125rem; }
    h1 { font-size: 2.75rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.5rem; }
    h4 { font-size: 1.125rem; }
    button { font-size: 1rem; }
    .secondary-text { font-size: 1rem; }
}
