/* SCSS HEX */
$ink-black: #0b1622ff;
$charcoal-blue: #45525fff;
$cyan: #00ffffff;

/* SCSS RGB */
$ink-black: rgba(11, 22, 34, 1);
$charcoal-blue: rgba(69, 82, 95, 1);
$cyan: rgba(0, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0b1622ff, #45525fff, #00ffffff);
$gradient-right: linear-gradient(90deg, #0b1622ff, #45525fff, #00ffffff);
$gradient-bottom: linear-gradient(180deg, #0b1622ff, #45525fff, #00ffffff);
$gradient-left: linear-gradient(270deg, #0b1622ff, #45525fff, #00ffffff);
$gradient-top-right: linear-gradient(45deg, #0b1622ff, #45525fff, #00ffffff);
$gradient-bottom-right: linear-gradient(135deg, #0b1622ff, #45525fff, #00ffffff);
$gradient-top-left: linear-gradient(225deg, #0b1622ff, #45525fff, #00ffffff);
$gradient-bottom-left: linear-gradient(315deg, #0b1622ff, #45525fff, #00ffffff);
$gradient-radial: radial-gradient(#0b1622ff, #45525fff, #00ffffff);
